@font-face {
  font-family: "childlet";
  src: url("../../assets/fonts/childlet/Childlet-Light.otf") format("opentype");
  // Regular
  font-weight: 400;
}

@font-face {
  font-family: "childlet";
  src: url("../../assets/fonts/childlet/Childlet.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "childlet";
  src: url("../../assets/fonts/childlet/Childlet-Bold.otf") format("opentype");
  font-weight: 800;
}
